@media print {
	@page {
		margin: 10mm;

		@bottom-right {
			content: counter(page);
			font-size: 12pt;
			padding: 10px;
			margin-bottom: 20px;
		}
	}
}

.wrapper {
	margin-left: 0.5in;
	margin-right: 0.5in;
}

.meta {
	padding-bottom: 5px;
	.tag {
		font-weight: bold;
	}
}

.landmark {
	display: none;
}
.notes {
	display: none;
}
.end.notes.module {
	display: none;
}

.title {
	.heading {
		font-size: xx-large;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.author {
	display: flex;
	justify-content: center;
	align-items: center;
}

.chapter.preface.group {
	.title {
		page-break-before: always;
		text-decoration: underline;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	text-indent: 15px;
}

blockquote {
	border: 1px solid black;
	padding: 10px;
}
